@import url('refinery/application.css');

body {
  font-family: Georgia, serif;
  background: #F0F0F0;
  font-size: 15px;
  line-height: 18px;
}

#body_content, #side_body_content {
  float: left;
  width: 45%;
  background: white;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);}

#body_content_title {
  background: -moz-linear-gradient(top, #F2F2F2, #E2E2E2);
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#E2E2E2));
  background: linear-gradient(top, #F2F2F2, #E2E2E2);
  border-bottom: 1px solid rgba(172, 179, 183, .5);
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-box-shadow: 0 1px 1px white inset;
  -webkit-box-shadow: 0 1px 1px white inset;
  box-shadow: 0 1px 1px white inset;
  margin: 0;
  padding: 14px;
  font-size: 24px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 1px white;
}

header h1 {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  padding: 40px 0px 20px 0px;
}

header a:hover {
  text-decoration: none;
}

a {
  color: #312D27;
  text-decoration: none;
}  

table
{
border-collapse:collapse;
}
table, td, th
{
border:2px solid grey;
padding: 4px 6px;
}

#body_content a {
  color: #F55639;
}  


#menu li ul, #menu nav {
  position: absolute;
  left: -99999px;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#menu li:hover ul, #menu div:hover nav {
  left: auto;
}

#menu {
  padding: 5px 0 35px 0;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#menu ul li a:hover {
  background-color: #312D27;
  color: #FFFFFF;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
} 

#menu li.selected > a {
  background-color: #FFFFFF;
  color: #312D27;
  font-weight: normal;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
} 

a:hover{
  text-decoration: underline;
}

#body_content{
  width:800px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.inner {
  padding: 10px 20px;
}

#body_content_left{
  float: left;
  width: 430px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
}

#body_content_left .inner {
  padding-right: 20px;
}

#body_content_right{
  margin: 20px;
  float: right;
  width: 320px;
  background: #F9F9F9;
  border: 1px solid #ddd;
  padding: 0px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
}

#body_content_right .inner {
  padding: 0 10px;
}

#body_content_right h3{margin: 10px 0 !important;}
#body_content_right ul{margin: 0 0 20px 0;}
#body_content_right ul li, #body_content_right ol li{
  display: inline;
}
#body_content_right ul a, #body_content_right ol a{
  display: block;
  padding: 7px 10px 6px 25px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  background: url("/theme/images/chain.png") no-repeat 5px center;
}
